<div id="login">
	<%= form_for @user do |f| %>
    	 <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>

<div id="how-it-works">
	<h1>How it Works</h1>
	<div id = "container">
		<div class="blurb">
			STEP 1
		</div>
		<div class="blurb">
			STEP 2
		</div>
		<div class="blurb">
			STEP 3
		</div>
	</div>
</div>