<!DOCTYPE html>
<html>
<head>
  <title>Datestar</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div id="logo"></div>
		<div id="login-link">
			<%= link_to "Login" %>
		</div>
	</header>


	<div class="main">	
		<%= yield %>
	</div>

	<footer>
		<div id="copyrights">COPYRIGHTS</div>
	</footer>
</body>
</html>
